{% extends 'blogapp/base.html' %}

{% load crispy_forms_tags %}
{% block title %}{% if post %}Update post{% else %}Add post{% endif %}{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="card card-body mt-1">
    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-info">{% if post %}Update{% else %}Submit{% endif %}</button>
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}